.wrapper {
  margin-bottom: 5rem;
  list-style: none;
}

.header {
  font-size: 1.6rem;
}

.descriptions {
  width: 80%;
}

.description-li {
  font-size: 1.5rem;
  margin-left: 2rem;
  margin-top: 1rem;
}
